@import '../../styles/colors';

.tabs {
  &-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
}

.tab {
  display: flex;
  flex-direction: column;

  svg {
    margin-bottom: 25px;

    * {
      stroke: $Alto;
    }
  }

  &-label {
    color: $FlushOrange;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &-active {
    svg * {
      stroke: $FlushOrange;
    }
  }

  &-active &-label {
    color: $Sapphire;
    font-family: MuseoSans;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: normal;
    text-transform: none;
  }

  &-content {
    display: none;

    &.tab-active {
      align-items: center;
      display: flex;
      justify-content: stretch;
    }
  }
}